<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trueque Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/iconWhite.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5d64a4e77d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="logoPc" src="/img/logoWhite.png" alt="Logo de Trueque Online">
        <a href="/"><img class="logoPhone" src="/img/iconWhite.png" alt="Logo de Trueque Online"></a>
        <form action="#">
            <input type="search" name="qu" placeholder="Buscar productos">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button><s></s>
        </form>
        <div class="iconNav">
            <a href="/cart" class="cartHeader"><i class="fas fa-shopping-cart"></i></a>
            <button class="dropdownUser">
                <i class="far fa-user-circle"></i>
            </button>
            <button class="dropdownBurguer">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <nav class="navbar">
            <ul class="modalNavUser">
                <li><a href="/login">Iniciar Sesión</a></li>
                <hr>
                <li><a href="/register">Crear Cuenta</a></li>
            </ul>
            <ul class="modalNavBurguer">
                <li><a href="#">Mis compras</a></li>
                <li><a href="#">Mis ventas</a></li>
                <li><a href="#">Favoritos</a></li>
                <hr>
                <li><a href="#">Notificaciones</a></li>
                <li><a href="#">Mensajes</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="/img/bannerTrueque.jpg" alt="Banner de ofertas" class="img-home-banner">
    </section>
    <main class="mainCart">
        <section class="titlesCart">
        <article>
            <div class="imageCartTitle">
            <h4 >Imagen</h4>
            </div>
            
            <div class="noImageTitles">
                <h4>Nombre del producto</h4>
                <h4>Cantidad<h4>
                <h4>Agrega o quita</h4>
                <h4>Precio unitario</h4>
                <h4>Precio total</h4>
                <h4> Quitar del carrito</h4>
            </div>
        </article>
        </section>

        <section class="cartArticles">
            
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="text-card-product">
                    <h4>Macbook pro 2019</h4>
                    <p class="quantityCart">20</p>
                    <p class="moreLessCart">
                        <button><i class="fas fa-plus"></i></i></button>
                        <button><i class="fas fa-minus"></i></button>
                    </p>
                    <p class="priceCart">$25</p>
                    <p class="totalPriceCart">$500</p>
                    <p class="cancelProductCart">
                        <button><i class="fas fa-times-circle"></i></button>
                    </p>
                </div>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <div class="text-card-product">
                    <h4>Samsung galaxy s10</h4>
                    <p class="quantityCart">20</p>
                    <p class="moreLessCart">
                        <button><i class="fas fa-plus"></i></i></button>
                        <button><i class="fas fa-minus"></i></button>
                    </p>
                    <p class="priceCart">$25</p>
                    <p class="totalPriceCart">$500</p>
                    <p class="cancelProductCart">
                        <button><i class="fas fa-times-circle"></i></button>
                    </p>
                </div>
            </article>

        </section>

        <section class="buyCancelButtonsCart">
            <button class="cancelCart" name="cancelCart">Cancelar</button>
            <button class="checkoutCart" name="checkoutCart">Comprar</button>
        </section>

    </main>
    <footer>
        <button class="btnMoreInfo">Más información<i class="fas fa-chevron-up"></i></button>
        <section class="footerContent">
            <article class="contactUs">
                <h4>Contáctenos</h4>
                <ul>
                    <li><a href="#">Redes</a></li>
                    <li><a href="#">Equipo de trabajo</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                </ul>
            </article>
            <article class="legalContent">
                <h4>Politica</h4>
                <ul>
                    <li><a href="#">Contenido legal</a></li>
                    <li><a href="#">Normas de la comunidad</a></li>
                </ul>
            </article>
            <article class="helpContent">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </article>
        </section>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>

</html>