<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/partialsProducts/headerProducts') %>
        <main class="mainListProducts">
            <% products.forEach((product) => { %>
                <%- include('../partials/partialsProducts/cardProduct', {product: product}) %> 
            <% }) %>
        </main>
        <!-- footer -->
        <%- include('../partials/partialsProducts/footerProducts') %>
    </body>

</html>