<header class="headerLong">
    <a href="/" class="linkPc"><img class="logoPc" src="/img/logoWhite.png" alt="Logo de Trueque Online"></a>
    <a href="/"><img class="logoPhone" src="/img/iconWhite.png" alt="Logo de Trueque Online"></a>
    <form action="#">
        <input type="search" name="qu" placeholder="Buscar productos">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <% if (locals.isLogged) { %>     
        <ul class="iconNav">
            <li class="dropdownUser">
                <a href="users/userProfile">
                    <i class="far fa-user-circle"></i>
                </a>
            </li>
            <li>
                <i class="fas fa-bars" id="dropdownBurguer"></i>
                    <ul class="modalNavBurguer">
                        <li><a href="#">Mis compras</a></li>
                        <li><a href="#">Mis ventas</a></li>
                        <li><a href="#">Favoritos</a></li>
                        <li><a href="#">Notificaciones</a></li>
                        <li><a href="#">Mensajes</a></li>
                    </ul>
            </li>
        </ul>
    <% }%>

    <% if (!locals.isLogged) { %>
        <div class="notLogged">
            <a href="/login">Iniciar sesión</a>
            <a href="/register">Crear cuenta</a>
        </div>
    <% } %>
</header>