<header class="headerLong">
    <a href="/" class="linkPc"><img class="logoPc" src="/img/logoWhite.png" alt="Logo de Trueque Online"></a>
    <a href="/"><img class="logoPhone" src="/img/iconWhite.png" alt="Logo de Trueque Online"></a>
    <form action="#">
        <input type="search" name="qu" placeholder="Buscar productos">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div class="iconNav">
        <a href="/cart" class="cartHeader"><i class="fas fa-shopping-cart"></i></a>
        <button class="dropdownUser">
            <i class="far fa-user-circle"></i>
        </button>
        <!-- <button class="dropdownBurguer"> -->
        <!-- <i class="fas fa-bars"></i> -->
        <!-- </button> -->
    </div>
    <nav class="navbar">
        <ul class="modalNavUser">
            <!-- <li><a href="/login">Iniciar Sesión</a></li>
            <hr>
            <li><a href="/register">Crear Cuenta</a></li> -->
        </ul>
        <ul class="modalNavBurguer">
            <!-- <li><a href="#">Mis compras</a></li>
            <li><a href="#">Mis ventas</a></li>
            <li><a href="#">Favoritos</a></li>
            <hr>
            <li><a href="#">Notificaciones</a></li>
            <li><a href="#">Mensajes</a></li> -->
        </ul>
    </nav>
    <div class="login">
        <a href="/login">Iniciar sesión</a>
    </div>
    <div class="register">
        <a href="/register">Crear cuenta</a>
    </div>
</header>