<header class="headerLong">
    <a href="/" class="linkPc"><img class="logoPc" src="/img/logoWhite.png" alt="Logo de Trueque Online"></a>
    <a href="/"><img class="logoPhone" src="/img/iconWhite.png" alt="Logo de Trueque Online"></a>
    <form action="/products/search" method="post">
        <input type="search" name="qu" placeholder="Buscar productos">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <% if (locals.isLogged) { %>
        <div class="iconNav">
            <img src="/img/imgUsers/<%= locals.user.avatar %>" alt="Avatar user" class="avatarUser">
            <i class="fas fa-bars" id="dropdownBurguer"></i>
        </div>
        <ul class="modalNav" id="navUser">
            <li><a href="/users/profile">Mi perfil</a></li>
            <li><a href="/users/logout">Cerrar Sesión</a></li>
        </ul>
        <ul class="modalNav modalNavBurguer" id="navProducts">
            <li><a href="#">Mis compras</a></li>
            <li><a href="#">Mis ventas</a></li>
            <li><a href="#">Favoritos</a></li>
            <li><a href="#">Notificaciones</a></li>
            <li><a href="#">Mensajes</a></li>
        </ul>
    <% }%>

    <% if (!locals.isLogged) { %>
        <div class="notLogged">
            <a href="/users/login">Iniciar sesión</a>
            <a href="/users/register">Crear cuenta</a>
        </div>
    <% } %>
</header>