<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trueque Libre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/favIcon.png">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/5d64a4e77d.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div class="header-top">
                <img src="/img/logoWhite.png" alt="Logo de MercadoLiebre">
                <form action="#">
                    <input type="search" name="qu" placeholder="Buscar prodcutos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul class="header-nav">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="header-user">
                    <li><a href="/register">Creá tu cuenta<i class="fas fa-user-plus"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <section class = "img-home-banner">
            <img src="/img/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main>
            <section>
                <h3>Basado en tu última visita</h3>
                <article>
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="text-card-product">    
                            <i class="fas fa-truck"></i>
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4>Cafetera Moulinex</h4>
                        </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="text-card-product">    
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
            <section>
                <h3>Ofertas</h3>
                <article>
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="discount">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                    <div class="text-card-product">
                        <i class="fas fa-truck"></i>
                        <p class="price">$23.200</p>
                        <p class="discount" >5% off</p>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </main>
        <footer>
            <section>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con MercadoLiebreCash tenés cuotas sin 
                    interes con tarjeta o efectivo en puntos de
                    pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde los $ 2.500</h4>
                <p>
                    Sólo por estar registrad@ en MercadoLiebre
                    tenés envíos gratis en miles de productos. Es
                    un beneficio de MercadoPuntos
                </p>
            </section>
            <section>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre
                    no hay nada de que no puedes hacer porque
                    estás siempre protegid@
                </p>
            </section>
        </footer>
    </body>
</html>