<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error 404</title>
</head>

<body id="bodyError404">
    <div class="container-404">
        <!-- <h1>Error 404</h1> -->
        <img src="/img/404-error-not-found.png" alt="Error" class="error_404"> 
        <p>La página que buscas no está disponible en este momento.</p>
        <a href="/" class="botonvolvererror">Ir a la página principal</a>
    </div>
</body>

</html>