<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trueque Libre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favIcon.png">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5d64a4e77d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="logoPc" src="/img/logoWhite.png" alt="Logo de MercadoLiebre">
        <a href="/"><img class="logoPhone" src="/img/iconWhite.png" alt="Logo de MercadoLiebre"></a>
        <form action="#">
            <input type="search" name="qu" placeholder="Buscar productos">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <nav class="iconNav">
            <a href="/cart" class="cartHeader"><i class="fas fa-shopping-cart"></i></a>
            <button class="dropdownUser">
                <i class="far fa-user-circle"></i>
            </button>
            <button class="dropdownBurguer">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="modalNavUser">
                <li><a href="/login">Iniciar Sesión</a></li>
                <hr>
                <li><a href="/registers">Crear Cuenta</a></li>
            </ul>
            <ul class="modalNavBurguer">
                <li><a href="#">Mis compras</a></li>
                <li><a href="#">Mis ventas</a></li>
                <li><a href="#" <!DOCTYPE html></a>
    </header>
    
    <section class="img-home-banner">
        <img src="/img/bannerTrueque.jpg" alt="Banner de ofertas">
    </section>
    <main class="mainProduct">
        <section class="productImages">
            <section class="carouselProduct">
                <article>
                    <img src="/img/iphone13img.webp" alt="Cafetera" class="product_img">
                </article>
                <article>
                    <img src="/img/iPhone13Camera.jpeg" alt="MacBook" class="product_img">
                </article>
                <article>
                    <img src="/img/iphone13photo.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                </article>
                <article>
                    <img src="/img/appleipad9.jfif" alt="SmartTv Samsung" class="product_img">
                </article>
            </section>
            <section class="listSectionCategoriesProduct">
                <select name="listCategoriesProduct" class="listCategoriesProduct">
                    <option>Vehiculos</option>
                    <option>Hogar y muebles</option>
                    <option>Electrodomésticos</option>
                    <option>Inmobiliaria</option>
                    <option>Electrónica</option>
                    <option>Ropa y accesorios</option>
                    <option>Deportes</option>
                    <option>Libros, revistas y comics</option>
                    <option></option>
                </select>
            </section>
        </section>

        <section class="currentProduct">
            <section class="productSectionImageAndButtons">
                <section>
                    <h2>iPhone 13</h2>
                    <div class="currentProductImage">
                        <img src="/img/iphone13img.webp" alt="Cafetera" class="product_img">
                    </div>
                    <section class="productButtonsDesktop">
                        <button class="addToCartButton" name="addToCartButton">Añadir al carrito</button>
                        <button class="offerExchangeButton" name="offerExchangeButton">Ofrecer cambio</button>
                    </section>
                </section>
            </section>
        </section>

        </section>

        <section class="productButtons">
            <button class="addToCartButton" name="addToCartButton">Añadir al carrito</button>
            <button class="offerExchangeButton" name="offerExchangeButton">Ofrecer cambio</button>
        </section>

        <section class="optionsProducts">
            <article class="priceProduct">
                <h3>Precio</h3>
                <p class="priceProduct"> $25
                </p>
            </article>
            <article class="productDescription">

                <h3>Descripción</h3>
                <p class="descriptionParagraph">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quidem culpa harum quasi, beatae
                    ratione quia iusto, modi commodi cum aspernatur? Soluta, nesciunt atque. Voluptates error
                    repellendus consectetur suscipit sapiente.
                    Accusantium ab quod quaerat? Et, fuga voluptatibus veritatis amet officiis dignissimos voluptatem
                    beatae similique odit ipsum porro soluta ipsa ea autem. Aliquam cupiditate nemo unde aut quae, quam
                    in voluptatem.
                    Sint ab laborum, corporis fugiat quidem tenetur repudiandae perferendis quaerat, ex repellat
                    voluptatibus atque quo maiores soluta amet totam? Molestias fuga at provident, excepturi quisquam
                    nulla obcaecati? Quis, sed porro!
                </p>
            </article>
            <article class="returnPolicy">
                <h3>Política de devolución</h3>
                <p class="returnPolicyParagraph">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quidem culpa harum quasi, beatae
                    ratione quia iusto, modi commodi cum aspernatur? Soluta, nesciunt atque. Voluptates error
                    repellendus consectetur suscipit sapiente.
                    Accusantium ab quod quaerat? Et, fuga voluptatibus veritatis amet officiis dignissimos voluptatem
                    beatae similique odit ipsum porro soluta ipsa ea autem. Aliquam cupiditate nemo unde aut quae, quam
                    in voluptatem.
                    Sint ab laborum, corporis fugiat quidem tenetur repudiandae perferendis quaerat, ex repellat
                    voluptatibus atque quo maiores soluta amet totam? Molestias fuga at provident, excepturi quisquam
                    nulla obcaecati? Quis, sed porro!
                </p>
            </article>
            <article class="score">
                <h3>Calificación</h3>
                <p class="scoreParagraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint obcaecati inventore magni
                    molestias repellendus eligendi, consequuntur deleniti. Nostrum dolor, iure optio dolore dignissimos
                    voluptatibus mollitia neque dolorem similique et?
                </p>
            </article>
            <article class="reviews">
                <h3>Reseñas</h3>
                <p class="reviewsParagraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam mollitia magni minima voluptatibus,
                    officiis nemo delectus ipsa quia laudantium alias, molestiae sint iure inventore reiciendis modi qui
                    vel quas iste.
                    Vero sapiente ipsam excepturi minima maiores voluptatibus voluptates asperiores. Reiciendis odio aut
                    atque esse obcaecati ipsam repellat nam debitis facere. Modi odit nam et quaerat, inventore
                    reiciendis enim voluptates officia.
                </p>
            </article>
        </section>

        <section class="carouselSimilarProducts">
            <h3 class="similarProducts">Productos similares</h3>
            <section>
                <article>
                    <img src="/img/motorolag30.jfif" alt="Cafetera" class="product_img">
                    <div class="text-card-product">
                        <h4>Motorola G30</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                    <div class="text-card-product">
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="text-card-product">
                        <h4>Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/img/appleipad9.jfif" alt="SmartTv Samsung" class="product_img">
                    <div class="text-card-product">
                        <h4>Apple iPad 9 Gen"</h4>
                    </div>
                </article>

            </section>
        </section>

    </main>
    <footer>
        <button class="btnMoreInfo">Más información<i class="fas fa-chevron-up"></i></button>
        <section class="footerContent">
            <article class="contactUs">
                <h4>Contáctenos</h4>
                <ul>
                    <li><a href="#">Redes</a></li>
                    <li><a href="#">Equipo de trabajo</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                </ul>
            </article>
            <article class="legalContent">
                <h4>Politica</h4>
                <ul>
                    <li><a href="#">Contenido legal</a></li>
                    <li><a href="#">Normas de la comunidad</a></li>
                </ul>
            </article>
            <article class="helpContent">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </article>
        </section>
        <!-- <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4> -->
    </footer>
</body>

</html>