<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trueque Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/iconWhite.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5d64a4e77d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img class="logoPc" src="/img/logoWhite.png" alt="Logo de MercadoLiebre">
        <img class="logoPhone" src="/img/iconWhite.png" alt="Logo de MercadoLiebre">
        <form action="#">
            <input type="search" name="qu" placeholder="Buscar productos">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="iconNav">
            <i class="fas fa-shopping-cart"></i>
            <a href="#"><i class="far fa-user-circle"></i></a>
            <a href="#"></a><i class="fas fa-bars"></i></a>
        </div>
        <nav>
            <!-- <ul class="header-user">
            </ul> -->
        </nav>
    </header>
    <main class="main-section">
        <section class="sectionRegister">
            <form action="" method="">
                <h1>Crear cuenta</h1>
                <div>
                    <label>Nombre:</label>
                    <input type="text" name="nombre">
                </div>
                <div>
                    <label>Nombre de usuario:</label>
                    <input type="text" name="nombreUsuario">
                </div>
                <div>
                    <label>Email:</label>
                    <input type="email" name="emailUsuario">
                </div>
                <div>
                    <label>Contraseña:</label>
                    <input type="password" name="passwordUsuario">
                </div>
                <div>
                    <label>Confirmar contraseña:</label>
                    <input type="password" name="confirmarPasswordUsuario">
                </div>
                <button type="submit">Continuar</button>
            </form>
        </section>
    </main>
</body>

</html>
