<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logowhite.png" class= "logo" alt="logowhite">
    </header>

    <main class="main-section">
        <section class="sectionRegister">
            <form action="" method="">
                <h1>Crear cuenta</h1>
                <div>
                    <label>Nombre:</label>
                    <input type="text" name="nombre">
                </div> 
                <div>
                    <label>Nombre de usuario:</label>
                    <input type="text" name="nombreUsuario"> 
                </div> 
                <div>
                    <label>Email:</label>
                    <input type="email" name="emailUsuario"> 
                </div> 
                <div>
                    <label>Contraseña:</label>
                    <input type="password" name="passwordUsuario"> 
                </div> 
                <div>
                    <label>Confirmar contraseña:</label>
                    <input type="password" name="confirmarPasswordUsuario"> 
                </div> 
                <button type="submit">Continuar</button>
            </form>
        </section>
    </main>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
