<footer>
    <section class="footerContent visibleFooter">
        <article class="contactUs">
            <h4>Contáctenos</h4>
            <ul>
                <li><a href="#">Redes</a></li>
                <li><a href="#">Equipo de trabajo</a></li>
                <li><a href="#">Trabaje con nosotros</a></li>
            </ul>
        </article>
        <article class="legalContent">
            <h4>Politica</h4>
            <ul>
                <li><a href="#">Contenido legal</a></li>
                <li><a href="#">Normas de la comunidad</a></li>
            </ul>
        </article>
        <article class="helpContent">
            <h4>Ayuda</h4>
            <ul>
                <li><a href="#">Soporte</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
        </article>
    </section>
    <h4>Copyright © 1999-2020 TruequeOnline</h4>
</footer>
<script src="/js/script.js"></script>

