<header class="headerShort">
    <a href="/" class="linkPc"><img class="logoPc" src="/img/logoWhite.png" alt="Logo de Trueque Online"></a>
    <a href="/"><img class="logoPhone" src="/img/iconWhite.png" alt="Logo de Trueque Online"></a>
</header>