* {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #ebebeb;
}

main {
  min-height: 73.7vh;
}
/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #11aea9;
  color: black;
  height: 10vh;
  padding: 1%;
}

header.headerShort {
  justify-content: center;
}

header.headerLong a {
  width: 10%;
}

header img.logoPc {
  width: 100%;
  overflow: hidden;
}

header img.logoPhone {
  display: none;
  overflow: hidden;
}

header form {
  width: 60vw;
  position: relative;
}

header form input {
  width: 80%;
  border-radius: 1rem;
  border: 0px;
  padding: 1%;
  outline: none;
}

header form button {
  border: 0px;
  width: auto;
  height: 3vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: rgb(6, 6, 123);
  position: relative;
  left: -2em;
}

.iconNav {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content:space-between;
}

.iconNav i{
  font-size: 2.5rem;
  color: rgba(251, 251, 251, 0.75);
  margin-right: 5%;
  padding: 10%;
  cursor: pointer;
  
}

header .notLogged {
  display: flex;
  width: 25vw;
  justify-content: flex-end;
}

header div.notLogged a {
  display: block;
  width: auto;
  margin: 0 5%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
}

header .avatarUser{
  width: 3.5vh;
  height: 4vh;
  border-radius: 50%;
  cursor: pointer;
}

header .modalNav{
  list-style: none;
  background-color: #11aea9;
  display: none;
  position: absolute;
  right: 3vw;
  top: 10vh;
  width: 10vw;
  height: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

header .modalNavBurguer{
  right: 0vw;
}


header .modalNav li{
  width: 10vw;
  height: 5vh;
  padding: 3%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
} 

header .modalNav a{
  text-decoration: none;
  color: white;
  font-size: 1.9em;
}

header .visibleHeader{
  display: block;
}

.iconNav i:hover {
  color: rgb(251, 251, 251);
}

header ul li:hover {
  background: #25c9c3;
}

header div.notLogged a:hover {
  text-decoration: underline;
}

/* HEADER FINAL */

/* FOOTER */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  margin-top: 3%;
  border: none;
  background-color: #ebebeb;
}

footer .btnMoreInfo {
  background-color: #11aea9;
  border: none;
  width: 10%;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
  padding: 0.7%;
  cursor: pointer;
  overflow: hidden;
  border-top-left-radius: 8px; 
  border-top-right-radius: 8px; 

}

.btnMoreInfo i {
  font-size: 1.1em;
  color: #fff;
  margin: 1%; 
  margin-left: 10%;
}

footer section.footerContent {
  display: none;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  background-color: #11aea9;
  padding-top: 1%;
}

footer section.visibleFooter {  
  display: flex;
}


section.footerContent article {
  width: 30%;
  border: none;
}

section.footerContent article ul li {
  margin: 1%;
}

footer section.footerContent ul {
  list-style-type: none;
  margin: 5%;
}

footer section.footerContent ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
}

footer h4 {
  width: 100%;
  height: 3.5vh;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #11aea9;
  padding: 1.5% 0%;
  border: none;
}
/* FOOTER FINAL */

/* Sessions */

/* Home */
/* MAIN */
main.mainHome {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-home-banner {
  width: 100%;
}

main.mainHome section {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 2%;
  margin: 2%;
  justify-content: space-around;
  align-items: center;
}

main.mainHome section .allProducts {
  display: none;
}

main.mainHome section .carruselBtn {
  width: 3%;
  height: 5vh;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.741);
  color: #11aea9;
  border-radius: 50%;
  border-style: double;
}

main.mainHome section.container .contentAllProducts{
  width: 100%;
  display: flex;
  margin-bottom: 2%;
}

main.mainHome .contentAllProducts h3 {
  font-size: 2.5rem;
  color: #666;
}

main.mainHome section.container .contentAllProducts a{
  margin-left: 2%;
  width: 25%;
  color:  #11aea9;
  text-decoration: none;
}

main.mainHome section.container .contentAllProducts i{
  font-size: 2rem;
  margin-top: 2%;
  font-weight: bolder;
}


.articleProduct {
  width: 20%;
  height: 40vh;
  background-color: white;
  border-radius: 10px;
  border-top: #11aea9 2px solid;
  border-left: #11aea9 3px solid;
  padding: 1%;
  cursor: pointer;
  overflow: hidden;
}

.articleProduct a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}

.articleProduct a:visited{
  text-decoration: none;
}

.articleProduct img {
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 75%;
}

.articleProduct i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #11aea9;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}


.articleProduct h4 {
  font-size: 1.3em;
  padding-top: 1%;
  overflow: hidden;
}

.articleProduct .price {
  font-size: 1.35em;
}

.articleProduct .discount {
  font-size: 1.3em;
  color: #5ad069;
}

.articleProduct .text-card-product {
  padding: 1% 0px 1% 1%;
  border-top: #ebebeb 1px solid;
  position: relative;
}

.articleProduct:hover {
  box-shadow: 0px 0px 10px rgb(103, 223, 241);
  transform: scale(1.07);
}

main.mainHome .categories {
  margin: 2%;
  margin-left: 0%;
  width: 100%;
  color: #666;
  font-weight: bolder;
}

main.mainHome .labelCategories {
  font-size: 2.5em;
}

main.mainHome .formCategories {
  height: 4vh;
  width: 10%;
  border-radius: 5px;
  border: none;
  background: #11aea9;
  color: white;
  font-size: 1.4em;
  text-align: center;
  margin-left: 1%;
}

.formCategories option {
  background: #11aea9;
  color: white;
  font-size: 1.1em;
  text-align: left;
}

/* main.mainHome FINAL */
/* Home Final */

/* PRODUCT */
/* MAIN */

main.mainProduct {
  width: 100%;
  padding: 2%;
}

.mainProduct h1{
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}

main.mainProduct .content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.mainProduct .imagesList{
  display: flex;
  flex-direction: column;
  width: 8%;
}

.mainProduct .imagesList img{
  width: auto;
  height: 13vh;
  margin-bottom: 7%;
  border-radius: 10px;
  cursor: pointer;
}

.mainProduct .medSection{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.mainProduct .medSection img{
  width: auto;
  height: 70vh;
  border-radius: 10px;
}

.mainProduct .medSection .buttonOptions{
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.mainProduct .medSection .buttonOptions button{
  width: 25%;
  height: 225%;
  border: none;
  border-radius: 5px;
  background: #25c9c3;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

.mainProduct .detailsProduct{
  width: 45%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  background-color: white;
  border-radius: 5px;
  overflow:hidden;
}

.mainProduct .detailsProduct article{
  width: 100%;
  height: auto;
  padding: 1%;
  border-bottom: 4px solid #EBEBEB;
  transition: all 0.5s;
}

.mainProduct .detailsProduct article h3{
  font-size: 1.7rem;
}

.mainProduct .detailsProduct article .supDetail{
  display: flex;
  justify-content: space-between;
}

.mainProduct .detailsProduct article .supDetail h4{
  width: auto;
  font-size: 2rem;
  font-weight:normal;
  margin-right: 5%;
  color: rgb(104, 104, 104);
}

.mainProduct .detailsProduct article .supDetail i{
  font-size: 1.2rem;
  margin-right: 1%;
  color: #11aea9;
  cursor: pointer;
  transition: all 0.8s;

}

.mainProduct .detailsProduct article p{
  display: none;
  font-size: 1.3rem;
  padding-top: 1%;
}

.mainProduct .detailsProduct article p.visibleText{
  display: flex;
}

.mainProduct .medSection .buttonOptions button:hover{
  transform: scale(1.05);
  background: #02706d;
  transition: all 0.5s;
}

.mainProduct .moreProducts {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainProduct .moreProducts button{
  border-radius: 50%;
  border: 1px white solid;
  width: 3%;
  height: 5vh;
  color: #11aea9;
  font-size:xx-small;
  cursor: pointer;
}

.mainProduct .moreProducts button:hover{
  box-shadow: 3px 3px rgb(168, 168, 168);
}

/* main.mainProduct FINAL */
/* Product Final */

/* PRODUCT */
/* MAIN */

main.mainCart {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10px;
  box-sizing: border-box;
}

main.mainCart section.cartArticles {
  width: 100%;
}

main.mainCart section.titlesCart {
  width: 100%;
}

main.mainCart section.titlesCart article {
  display: flex;
  width: 105%;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-top: 33px;
  box-sizing: border-box;
  border: 1px solid #11aea982;
}

main.mainCart section.titlesCart div.imageCartTitle {
  width: 10%;
}

main.mainCart section.titlesCart div.imageCartTitle h4 {
  border: 2px solid #11aea982;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

main.mainCart section.titlesCart article div.noImageTitles {
  display: flex;
  width: 85%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
}

main.mainCart section.titlesCart article div.noImageTitles h4 {
  border: 2px solid #11aea982;
  border-radius: 5px;
}

main.mainCart section.titlesCart article div h4 {
  display: block;
  margin: 5px;
  padding: 5px;
  justify-content: space-around;
  align-content: center;
  position: relative;
  left: 15px;
  background-color: white;
  left: 5%;
}

main.mainCart section.cartArticles article {
  display: flex;
  width: 105%;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 33px;
  box-sizing: border-box;
  border: 1px solid #11aea982;
}

main.mainCart section.cartArticles img {
  width: 10%;
  border: 2px solid #11aea982;
  border-radius: 5px;
}

main.mainCart section.cartArticles article div {
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  position: relative;
}

main.mainCart section.cartArticles article div p {
  display: block;
  margin: 8px;
  padding: 5%;
  border-radius: 5px;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  border: 2px solid #11aea982;
}

main.mainCart section.cartArticles article div h4 {
  display: block;
  margin: 8px;
  margin-right: 0px;
  margin-left: 7%;
  padding: 5%;
  border-radius: 5px;
  justify-content: space-around;
  align-content: center;
  background-color: white;
  border: 2px solid #11aea982;
  position: relative;
  left: 5px;
}

main.mainCart section.cartArticles article div p.moreLessCart {
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  border: 0px;
  background: rgb(238, 236, 236);
}

main.mainCart section.cartArticles article div p.moreLessCart button {
  width: 95%;
  height: 49%;
  align-self: center;
  background-color: #3483fa;
  border-radius: 5px;
  color: white;
  border: 0px solid;
  cursor: pointer;
  font-size: 10px;
  padding: 2px;
  margin: 2px;
}

main.mainCart section.cartArticles article div p.moreLessCart button:hover {
  box-shadow: 0px 0px 10px rgba(103, 223, 241, 0.646);
  background-color: blue;
}

main.mainCart section.cartArticles article div p.cancelProductCart {
  display: flex;
  flex-direction: column;
  width: 60px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-content: center;
  justify-content: center;
  border: 0px;
  background-color: rgb(238, 236, 236);
}

main.mainCart section.cartArticles article div p.cancelProductCart button {
  background-color: #3483fa;
  border-radius: 5px;
  color: white;
  border: 0px solid;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  padding: 2px;
  margin: 2px;
}

main.mainCart
  section.cartArticles
  article
  div
  p.cancelProductCart
  button:hover {
  box-shadow: 0px 0px 10px rgba(103, 223, 241, 0.646);
  background-color: blue;
}

main.mainCart section.buyCancelButtonsCart {
  display: flex;
  margin: 10px;
  width: 100%;
  justify-content: space-around;
}

main.mainCart section.buyCancelButtonsCart button {
  width: 35%;
  font-size: 13px;
  padding: 5px;
  background-color: #3483fa;
  border-radius: 5px;
  color: white;
  border: 0px solid #3483fa;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 33px;
  margin-top: 0px;
}

main.mainCart section.buyCancelButtonsCart button:hover {
  background-color: blue;
}

section.cartArticles div.text-card-product h4 {
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
/* main.mainCart FINAL */
/* Cart Final */

/*REGISTER Y LOGIN*/

main.mainLogin {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
main.mainLogin section{
  background-color: #b6b6b656;
  border-radius: 5px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}
 
.mainLogin h1 {
  font-size: 2.2em;
}
 
.mainLogin form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.mainLogin form.formLogin div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
 
.mainLogin form.formLogin div.contentForm{
  width: 80%;
  justify-content: space-between;
  margin: 1%;
}
 
.mainLogin form input {
  width: 80%;
  margin: 2%;
  height: 3.5vh;
  border-radius: 5px;
  font-size: 1.3em;
  padding: 1.5%;
  border: none;
  outline-color: #11aea9;
}
 
.mainLogin form input.inputMed{
  width: 47%;
  display: inline-block;
  margin: 0%;
}
 
.mainLogin form label{
  font-size: 1.1em;
}
 
.mainLogin form input.remind{
  display: inline-block;
  width: 2.5vh;
}
 
.mainLogin form input.remind{
  display: inline-block;
}
 
.mainLogin form button {
  width: 20%;
  height: 4vh;
  background-color: #3483fa;
  cursor: pointer;
  color: white;
  margin: 1%;
  font-size: 1.3em;
  border-radius: 5px;
  border: none;
}
 
.mainLogin a{
  text-decoration: none;
  color: rgb(24, 41, 201);
  font-size: 1.1em;
  margin: 1%;
}
 
.mainLogin a:hover{
  text-decoration: underline;
  font-weight: bold;
}
 
.mainLogin form button:hover {
  background-color: blue;
}
 
.mainLogin form input:focus{
  border: none;
  box-shadow: 0px 0px 10px rgba(103, 223, 241, 0.646);
}
 
.mainLogin form input.remind:focus{
  box-shadow: none;
}
 
.mainLogin form input:focus{
  box-shadow: 5px 5px 10px rgba(103, 223, 241, 0.646);
}

.mainLogin .textDanger p{
  font-size: 1.5rem;
  color:  #ee2222;
}

.mainLogin li.errorsRegister {
  font-size: 1.2rem;
  color:  #ee2222;
  margin-top: 0.5%;
}

.mainLogin div label.addImgProfile {
  margin: 2% ;
  font-size: 1.3rem;
  color:#666;
  justify-content: center;
}

.mainLogin div .addAvatar {
  padding: 3px;
  font-size: 1.3rem;
  color:#666;
}

/*FINAL REGISTER Y LOGIN*/

/* main.mainProductUpload */
/* mainProductUpload start */

main.mainProductUpload {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.mainProductUpload form {
  background-color: #b6b6b656;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  align-content: space-around;
}

main.mainProductUpload form div {
  margin: 5px;
}

main.mainProductUpload form div.productNameUpload {
  display: inline-block;
}

main.mainProductUpload form div.productPriceUpload {
  display: inline-block;
}

main.mainProductUpload form div.listCategoriesProductUpload {
  display: inline-block;
}

main.mainProductUpload form div.questionExchange {
  display: inline-block;
}

main.mainProductUpload form div.mainImageUpload {
  display: inline-block;
}

main.mainProductUpload form div.imagesUpload {
  display: inline-block;
}


main.mainProductUpload form div.buttonsUpload {
  display: flex;
}

main.mainProductUpload select {
  height: 4vh;
  width: 35%;
  border-radius: 5px;
  border: none;
  background: #3483fa;;
  color: white;
}

main.mainProductUpload form button {
  display: inline-block;
  margin: auto;
  padding: 7px;
  background-color: #3483fa;
  border-radius: 5px;
  color: white;
  margin: 1%;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

main.mainProductUpload form input{
  border-radius: 5px;
  border: none;
  height: 3.5vh;
  outline-color: #11aea9;
}

main.mainProductUpload form input:focus{
  box-shadow: 0px 0px 10px rgba(103, 223, 241, 0.646);
}



main.mainProductUpload form button:hover {
  background: blue;
}

main.mainProductUpload form div.productDescriptionUpload{
  width:inherit;
}
main.mainProductUpload form textarea {
  width: 80%;
  border-radius: 5px;
  border: none;
  outline-color: #11aea9;
  height: inherit;
  resize: none;
}

main.mainProductUpload form div.aimUpload{
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main.mainProductUpload form div.aimUpload div.radioInputs{
  display: flex;
  align-items: center;
}


/* main.mainProductUpload FINAL*/
/* mainProductUpload FINAL */

/* ERROR 404 */

#bodyError404 {
  background: #11aea9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
#bodyError404 .container-404 {
  text-align: center;
  width: 40%;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(103, 223, 241, 0.646);
  border-radius: 5px;
  line-height: 2;
}
 
#bodyError404 .container-404 p {
  font-size: 1.5em;
  font-weight: bold;
  color:#666;
}
 
#bodyError404 .container-404 a {
  font-size: 1.4em;
}
 
.botonvolvererror {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background: #3483fa;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
 
.botonvolvererror:hover {
  background: blue;
}
 
.error_404 {
  width: 60%;
  height: 60%;
}


/* Final 404 */

/* LIST PRODUCTS */
main.mainListProducts{
    width: 100%;
    display: flex;
    padding: 1%;
    flex-wrap: wrap;
}

.mainListProducts .articleProduct{
  margin: 2%;
}

/* FINAL LIST PRODUCTS */

/* admin table */
main.mainAdmin{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  min-height: 60vh;
  margin-top: 3%;
}

.mainAdmin table{
  width: 90%;
  background-color: #11aea960;
}

.mainAdmin table thead{
  background-color: #11aea9;
}

/* final admin table */

/* productUpload errors */
div.validationError {
  color: red;
  display: inline-block
}

/* final productUpload errors*/

/* Media Queries */
/* Phone */
@media (max-width: 480px) {
  header.headerLong{
    padding: 0;
    justify-content: space-around;
  }

  header.headerLong a {
    width: 15vw;
  }

  header a.linkPc{
    display: none;
  }

  header img.logoPhone {
    display: block;
    width: 15vw;
  }

  header form {
    display: flex;
  }

  header form input {
    width: 100%;
    height: 4vh;
  }

  header .iconNav {
    width: 15vw;
  }

  .cartHeader {
    display: none;
  }

  .dropdownUser{
    text-decoration: none;
  }

  header form button {
    border: 0px;
    width: auto;
    height: 4vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.741);
    position: relative;
    left: -2em;
  }

  .iconNav {
    width: 25vw;
    text-align: right;
  }

  .iconNav button{
    padding: 0;
    margin: 0;
  }

  .iconNav i {
    color: rgba(251, 251, 251, 0.87);
    margin: 0;
  }

  header nav .modalNavUser {
    display: none;
  }

  header nav .modalNavBurguer {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .btnMoreInfo {
    width: 50%;
  }

  footer .btnMoreInfo:active .footerContent {
    display: none;
  }

  footer section {
    width: 100%;
    padding: 5%;
  }

  /* Home */
  /* MAIN */
  main.mainHome section {
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
    justify-content: flex-start;
  }

  main.mainHome section .allProducts {
    width: 100%;
    color: #014bf7;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
  }

  main.mainHome .contentAllProducts .allProductsPc{
    display: none;
  }

  .allProducts p {
    font-size: 1.4em;
  }

  .allProducts i {
    font-size: 1.4em;
  }

  .articleProduct {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #11aea9;
    width: 100%;
    height: 15vh;
  }

  .articleProduct a{
    width: 100%;
    margin: 0;
    padding-left: 0%;
    display: flex;
    height: 100%;
    justify-content: flex-start;
  }

  main.mainHome section .carruselBtn {
    display: none;
  }

  .articleProduct img {
    display: inline-block;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 2%;
  }

  .articleProduct i {
    display: none;
  }

  .text-card-product {
    display: inline-block;
    border-top: none;
    width: 50%;
  }

  main.mainHome .formCategories {
    width: 30%;
  }

  /* MAIN FINAL */
  /* Home Final */

  /* product */
  /* main */

  /* main final */
  /* product final */

  /* CART */
  /* main.maincart */

  main.mainCart section.cartArticles img {
    display: none;
  }

  main.mainCart section.titlesCart article div.imageCartTitle {
    display: none;
  }

  main.mainCart section.titlesCart article div.noImageTitles h4 {
    font-size: 9px;
    position: relative;
    left: 8%;
  }

  /* main.maincart */
  /* CART Final */

  /*REGISTER Y LOGIN*/
  main.mainLogin {
    height: 75vh;
  }

  main.mainLogin section{
    width: 70%;
  }

  .mainLogin h1 {
    text-align: center;
  }

  .mainLogin form label{
    font-size: 1.2em;
  }

  .mainLogin form button {
    width: 50%;
    margin-bottom: 3%;
  }

  .mainLogin a{
    margin-bottom: 4%;
    font-size: 1.25em;
  }

  .mainLogin form.formLogin div.contentForm{
    flex-direction: column;
  }

  .mainLogin form input.inputMed{
    width: 100%;
    display: block;
    margin: 2%;
  }
  /*REGISTER Y LOGIN final*/
}

/* Tablets and larger phones */
@media (min-width: 481px) and (max-width: 768px) {
  main.mainHome section {
    justify-content: flex-start;
  }

  main.mainHome section article {
    width: 25%;
  }

  /* CART */
  /* main.maincart */

  main.mainCart section.cartArticles img {
    display: none;
  }

  main.mainCart section.titlesCart article div.imageCartTitle {
    display: none;
  }

  /* main.maincart */
  /* CART Final */
}

@media (min-width: 769px) {

  main.mainCart section.cartArticles article div h4 {
    display: block;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: center;
    position: relative;
    left: 15px;
    background-color: white;
    height: 45%;
  }

  main.mainCart section.cartArticles article div p {
    display: block;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    height: 45%;
  }
}
