*{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}

body{
    width:100%;
    background: rgb(238, 236, 236);
}

/* HEADER */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    width: 100%;
    background:#11aea9;
    color:black;
    height: 10vh;
    padding: 2%;
}

header img.logoPc{
    width: 10%;
    margin: 0 10% 0 5%;
}

header img.logoPhone{
    display: none;
}

header form{
    width: 50vw;
    position: relative;
}

header form input{
    width: 80%;
    border-radius: 1rem;
    border: 0px;
    padding: 1%;
    outline: none;
}

header form button{
    border: 0px;
    width: auto;
    height: 3vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    color: rgb(6, 6, 123);
    position: relative;
    left: -2em;
}

.iconNav{
    width:25vw;
    flex-grow: 0.5;
    text-align: center;
    position: relative;
}

.iconNav i{
    width: 2rem;
    font-size: 2rem;
    color: rgba(251, 251, 251, 0.75);
    margin: 0 3%;
}

.iconNav button{
    background-color: rgb(0,0,0,0);
    border: none;
    cursor:pointer;
    padding: 3%;
}

header nav ul{
    list-style-type: none
}

header nav ul a{
    text-decoration: none;
    color: rgba(22, 20, 20, 0.721);
    font-size: 1.3em;
}

header nav ul li{
    padding: 1.2em;
}

header nav .modalNavUser{
    display: block;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 85%;
    background:#9de2e0;
    min-width: 10%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

header nav .modalNavBurguer{
    display: block;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 88%;
    background:#9de2e0;
    min-width: 10%;               /* modificable */ 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.iconNav button.dropdownUser:hover .modalNavUser{
    display: block;
}

.iconNav button.dropdownBurguer:hover .modalNavBurguer{
    display: block;
}

.iconNav i:hover{
    color: rgb(251, 251, 251);
}

header nav ul li:hover{
    background:#11aea982;
}

/* HEADER FINAL */


/* FOOTER */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    margin-top: 3%;
    border: none;
    background-color: #ebebeb;
}

footer .btnMoreInfo{
    background-color:#11aea9;
    border: none;
    width: 10%;
    font-size: 1.1em;
    text-align: center;
    color: #FFF;
    padding: 1%;
    cursor: pointer;
    overflow: hidden;
}

.btnMoreInfo i{
    font-size: 1.1em;
    color: #fff;
    margin: 1%;
    margin-left:5%;
}

footer section.footerContent{
    display: flex;
    text-align: center;
    justify-content:space-around;
    width: 100%;
    background-color: #11aea9;
    padding-top: 1%;
}

section.footerContent article{
    width: 30%;
    border: none;
}

section.footerContent article ul li{
    margin: 1%;
}

footer section.footerContent ul{
    list-style-type: none;
    margin: 5%;
}

footer section.footerContent ul a{
    text-decoration: none;
    outline:none;
    color:#fff;
}

footer h4{
    width: 100%;
    font-size: 1.4em;
    font-weight: bold;
    color:#fff;
    text-align: center;
    background-color: #11aea9;
    padding: 0% 1%;
    border: none;
}

/* button.btnMoreInfo:hover .footerContent{
    display: flex;
} */

button.btnMoreInfo:hover i{
    transform: rotate(180deg);
    transition: all 0.5s;
}
/* FOOTER FINAL */

/* Sessions */

/* Home */
/* MAIN */
main.mainHome{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-home-banner{
     width:100%;
}

main.mainHome section{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 2%;
    margin: 2%;
    justify-content: space-around;
    align-items: center;
}

main.mainHome section .allProducts{
    display: none;
}

main.mainHome h3{
    font-size: 2.5rem;
    padding-bottom: 2%;
    color: #666;
    width: 100%;
}

main.mainHome section .carruselBtn{
    width: 3%;
    height: 5vh;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.741);
    color: #11aea9;
    border-radius: 50%;
    border-style:double;
}

main.mainHome section article{
    width: 20%;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    border-top: #11aea9 2px solid;
    border-left: #11aea9 3px solid;
}

main.mainHome section article img{
    display:block;
    margin: 0 auto;
    width: 90%;
    height: 75%;
    padding: 1%;    
}

main.mainHome section article i{
    display: block ;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #11aea9;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main.mainHome section article h4{
    font-size: 1.3em;
    padding-top: 1%;
}

.price{
    font-size: 1.35em;
}

.discount{
    font-size: 1.3em;
    color: #5ad069;
}

.text-card-product{
    padding: 1% 0px 1% 1%;
    border-top: #ebebeb 1px solid;
    position: relative;
}

main.mainHome section article:hover{
    box-shadow : 0px 0px 10px rgba(103, 223, 241, 0.646);
}

main.mainHome .categories{
    margin: 2%;
    margin-left: 5%;
    width: 100%;
}

main.mainHome .labelCategories{
    font-size: 2em;
}

main.mainHome .formCategories{
    height: 4vh;
    width: 10%;    
    border-radius: 5px;
    border: none;
    background: #11aea9;
    color: white;
}

.formCategories option{
    background: white;
    color: black;
    font-size: 1.1em;
}

/* main.mainHome FINAL */
/* Home Final */

/* PRODUCT */
/* MAIN */

main.mainProduct{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main.mainProduct section{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1%;
    justify-content: center;
}

main.mainProduct section{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1%;
    justify-content: center;
}

main.mainProduct section.productImages img{
    height: 80%;
    margin-top: 10px;
}

main.mainProduct section.carouselProduct{
    margin-top: 25px;
}

main.mainProduct section.carouselProduct article:hover{
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}

main.mainProduct .carouselProduct section.listSectionCategoriesProduct {
    display: none;
}

main.mainProduct section.productButtons { 
    display: flex;
    justify-content: space-around;
}

main.mainProduct section.productButtons button{ 
    display: flex;
    justify-content: space-around;
    width: 35%;
    background-color: white;
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
}

main.mainProduct section.productButtons button:hover{ 
    background-color: beige;
    color: blue;
}

main.mainProduct section.optionsProducts{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1%;
    flex-direction: column;
    justify-content: center;
}

main.mainProduct section.optionsProducts article{
    display: block;
    width: 100%;
    flex-wrap: nowrap;
    padding-bottom: 1%;
    flex-direction: column;
    justify-content: center;
}

main.mainProduct section.optionsProducts article p{
    display: none;
}



main.mainProduct h3{
    font-size: 24px;
    padding: 2%;
    color: #666;
}

main.mainProduct section article{
    width: 20%;
    margin-bottom: 3%;
    background-color: white;
    border-radius:5%;
    margin-left: 3%;
    margin-right: 2%;
}

main.mainProduct section article img{
    display:block;
    margin: 0 auto;
    width: 80%;
}

main.mainProduct section article h4{

    font-size: 16px;
    margin:0px;
    padding-top: 1%;
}


    
main.mainProduct section.carouselSimilarProducts article:hover{
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
}


/* main.mainProduct FINAL */
/* Product Final */

/* PRODUCT */
/* MAIN */

main.mainCart{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 10px;
    box-sizing: border-box;
}

main.mainCart section.cartArticles{
    width: 100%;
}

main.mainCart section.cartArticles article {
    display: flex;
    width: 105%;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 15px;
    box-sizing: border-box;
}

main.mainCart section.cartArticles img{
    width:10%;
}

main.mainCart section.cartArticles article div{
    display: flex;
    width: 90%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;
 
}

main.mainCart section.cartArticles article div h4{
    display: block;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: center;
    position: relative;
    left: 15px;
    background-color: white;
    
}

main.mainCart section.cartArticles article div p{
    display: block;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    justify-content: space-around;
    align-content: center;
    background-color: white;
}

main.mainCart section.cartArticles article div p.moreLessCart {
    display: flex;
    flex-direction: column;
    width: 60px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
    border: 0px;
}

main.mainCart section.cartArticles article div p.moreLessCart button{
    width: 95%;
    height: 49%;
    align-self: center;
    background-color: white;
}

main.mainCart section.cartArticles article div p.moreLessCart button:hover{
    background-color: beige;
    color:blue;
}

main.mainCart section.cartArticles article div p.cancelProductCart {
    display: flex;
    flex-direction: column;
    width: 60px;
    margin-left:0px;
    margin-right:0px;
    padding-left: 0px;
    padding-right: 0px;
    align-content: center;
    justify-content: center;
    border: 0px;
    background-color: #ebebeb;
}

main.mainCart section.cartArticles article div p.cancelProductCart button{
    background-color: white;
}

main.mainCart section.cartArticles article div p.cancelProductCart button:hover{
    background-color: beige;
    color:blue;
}

main.mainCart section.buyCancelButtonsCart{
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: space-around;
}

main.mainCart section.buyCancelButtonsCart button{
    width: 35%;
    background-color: white;
    font-weight: bold;
}

main.mainCart section.buyCancelButtonsCart button:hover{
    background-color: beige;
    color: blue;
}

/*Register y login*/

#sectionForm{
background: white;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}

#sectionForm form {
width: 60%;    
height: 85%;
background-color: rgb(238, 236, 236);
margin: 20px;
padding: 8px;
border-radius: 10px;
}

#sectionForm form h1{
    text-align: center;
    font-size: 20px;
}

#sectionForm form h2{
   margin-top: 15px;
   margin-left: 15px;
   text-align: center;
}

#sectionForm form h3{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
 }

#sectionForm form label{
  font-size: 13px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  
}

#sectionForm form input{  
    font-size: 13px;
    display: block;
    margin: auto;
    width: 80%;
}

#sectionForm form button{
    display: flex;
    margin: auto;
    font-size: 15px;
    padding: 7px;
    background-color: #3483FA;
    border-radius: 5px;
    color: white;
    border: 2px solid;
    cursor: pointer;
    font-weight: bold;
}

#sectionForm form button:hover{
    background: blue;
}

#sectionForm form div{
    margin-bottom: 5px;
    padding: 5px;
}

#sectionForm form p{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
} 

#sectionForm form .volver{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
} 

#sectionForm form .volverlogin{
    text-align: center;
    margin-top:70px;
    font-weight: bold;
} 

.headerlogin {
    display: flex;
    justify-content: center;
}

.headerregister {
    display: flex;
    justify-content: center;
}

.bodylogin {
    background: white;
}

.bodyregister {
    background: white;
}


#sectionForm .formlogin {
width: 60%;    
height: 60%;
background-color: rgb(238, 234, 234);
margin: 20px;
padding: 8px;
border-radius: 10px;
}


/* main.mainCart FINAL */
/* Cart Final */

/* Media Queries */

/* Phone */
@media (max-width: 480px) {
    
    header{
        justify-content: space-between;
    }

    header img.logoPc{
        display: none;
    }

    header img.logoPhone{
        display: block;
        width: 15vw;
    }

    header form{
        display: flex;
        flex-grow: 0.5;
    }

    header form input{
        width: 100%;
        height: 4vh;
    }

    header .iconNav{
        width:15vw;
    }

    .cartHeader{
        display: none;
    }

    header form button{
        border: 0px;
        width: auto;
        height: 4vh;
        margin: 0;
        padding: 0;
        background-color: rgba(0,0,0,0);
        cursor: pointer;
        color: rgba(0, 0, 0, 0.741);
        position: relative;
        left: -2em;
    }
    
    .iconNav{
        width:25vw;
        text-align: center;
    }
    
    .iconNav i{
        color: rgba(251, 251, 251, 0.87);
        margin-right: 10%;
    }

    header nav .modalNavUser{
        display: none;    
    }
    
    header nav .modalNavBurguer{
        display: none;
    }
    
    footer{
        flex-direction: column;
        align-items: center;
    }

    footer .btnMoreInfo{
        width: 50%;
    }

    footer .btnMoreInfo:active .footerContent{
        display: none;
    }

    footer section{
        width: 100%;
        padding: 5%;
    }

    /* Home */
    /* MAIN */
    main.mainHome section{
        background-color: #FFF;
        border-radius: 10px;
        padding: 0;
        justify-content: flex-start;
    }

    main.mainHome section .allProducts{
        width: 100%;
        color: #014bf7;
        display: flex;
        justify-content: space-between;
        padding: 2%;
        border: none;
        background-color: rgba(0,0,0,0);
    }

    .allProducts p{
        font-size: 1.4em;
    }

    .allProducts i{
        font-size: 1.4em;
        
    }

    main.mainHome section article{
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #11aea9;
        width: 100%;
        margin: 0;
        padding-left: 0%;
        display: flex;
        height: 15vh;
        justify-content: flex-start;
    }

    main.mainHome section .carruselBtn{
        display: none;
    }

    main.mainHome section article img{
        display: inline-block;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 2%;
    }

    main.mainHome section article i{
        display: none;
    }


    .text-card-product{
        display: inline-block;
        border-top: none;
        width: 50%;
    }

    main.mainHome .formCategories{
        width: 30%;    
    }

    /* MAIN FINAL */
    /* Home Final */

    /* product */
    /* main */
    main.mainProduct section.currentProduct{
        display: none;
    }

    main.mainProduct section.optionsProducts article:hover p{
        display: block;
        width: 85%;
        justify-self: center;
        text-align: justify;
        margin-left: 35px;
        font-family: 'Open Sans';
        font-size: 14px;
    }
    /* main final */
    /* product final */

    /* CART */
    /* main.maincart */

    main.mainCart section.cartArticles img{
        display: none
    }

    /* main.maincart */
    /* CART Final */
}

/* Tablets and larger phones */
@media (min-width: 481px ) and (max-width:768px) {
    main.mainHome section{
        justify-content: flex-start;
    }
    
    main.mainHome section article{
        width: 25%;
    }

    main.mainProduct section.currentProduct{
        display: none;
    }

    main.mainProduct section.optionsProducts article:hover p{
        display: block;
        width: 85%;
        justify-self: center;
        text-align: justify;
        margin-left: 35px;
        font-family: 'Open Sans';
        font-size: 14px;
    }
    

       /* CART */
    /* main.maincart */

    main.mainCart section.cartArticles img{
        display: none
    }
    

    /* main.maincart */
    /* CART Final */
}

@media (min-width: 769px ) {

    /* Product */
    /* main.mainProduct Desktop */
    main.mainProduct{
        display: flex;
        width:90vw;
        flex-direction: row;
    }
    main.mainProduct section.productImages {
        display: flex;
        width:20%;
        height: 80%;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 55px;
        margin-right: 15px;
    }


    main.mainProduct section.currentProduct{
        display:flex;
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    main.mainProduct section.currentProduct section.productSectionImageAndButtons section{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    main.mainProduct section.currentProduct h2{
        font-size: 24px;
        margin-bottom: 10px;
        color: #666;
    }


    main.mainProduct section.currentProduct section.productSectionImageAndButtons section.productButtonsDesktop{ 
        display: flex;
        flex-direction: row;
        width: 85%;
        border-radius: 5px;
        height: 45px;
        font-size: 14px;
        font-weight: bold;
        justify-content: space-around;
        }

    main.mainProduct section.productButtonsDesktop button{ 
    display: flex;
    justify-content: space-around;
    width: 45%;
    background-color: white;
    border-radius: 5px;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15%;
    }

    main.mainProduct section.productButtonsDesktop button:hover{ 
        background-color: beige;
        color: blue;
    }

    main.mainProduct section.productButtons{
        display: none;
    }

    main.mainProduct section.productImages section.carouselProduct {
        display: flex;
        flex-wrap: wrap;
    }
    main.mainProduct section.productImages section.carouselProduct article {
        width: 45%;
    }

    main.mainProduct section.optionsProducts{
        width: 45%;
    }
    
    main.mainProduct section.optionsProducts article{
        width: 95%;
    }
    
    main.mainProduct section.optionsProducts article p.priceProduct{
        display: block;
        position: relative;
        left: 35px;
        font-size: large;
    }

    main.mainProduct section.optionsProducts article:hover p{
        display: block;
    }


    main.mainProduct .carouselProduct section.listSectionCategoriesProduct {
        display: block;
    }

    main.mainProduct .carouselSimilarProducts{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 20%;
        margin-left: 15px;
        position:relative;
        left:15px
    }

    main.mainProduct .carouselSimilarProducts section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    main.mainProduct .carouselSimilarProducts section article{
        width: 75%;
    }

    /* Product */
    /* FINAL main.mainProduct Desktop */

    main.mainCart section.cartArticles article div h4{
        display: block;
        margin: 10px;
        padding: 15px;
        border: 1px solid black;
        justify-content: space-around;
        align-content: center;
        position: relative;
        left: 15px;
        background-color: white;
        height: 45%;
        
    }
    
    main.mainCart section.cartArticles article div p{
        display: block;
        margin: 10px;
        padding: 15px;
        border: 1px solid black;
        justify-content: space-around;
        align-content: center;
        background-color: white;
        height: 45%;
    }

    /* Registro */
    #sectionForm form {
        width: 100%;    
            }  

    .contenedor1{
        display: inline-block;
        width: 42vw;
        margin-left: 40px;
            }
    
    .contenedor2{
        display: inline-block;
        width: 42vw;
                }
    
    .contenedor3{
        display:block;
        width: 50vw;
        margin: auto;
                }
             
    .contenedor3 label {
        text-align: center;
    }  
}
