<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body class="bodylogin">
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>
            <main>
                <section id="sectionForm">
                    <form class="formlogin">
                        <h1>Iniciar sesión</h1>
                        <div>
                            <label>Email:</label>
                            <input type="email" name="emailUsuario">
                        </div>
                        <div>
                            <label>Contraseña:</label>
                            <input type="password" name="passwordUsuario">
                        </div>
                        <button class="buttoncontinuar" type="submit">Continuar</button>
                        <a href="/register" class="botonregistro">
                            <h2>Registro</h2>
                        </a>
                        <a href="#" class="botonrecuperarcontraseña">
                            <h2>¿Has olvidado tu contraseña?</h2>
                        </a>
                        <div class="volverlogin">
                            <a href="/" class="botonvolverregistro">Volver al inicio</a>
                        </div>
                    </form>
                </section>
            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>

    </body>

</html>