<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body class="bodylogin">
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>
            <main class="mainLogin">
                <section>
                    <h1>Iniciar sesión</h1>
                        <form class="formLogin" action="/users/login" method="post">
                            <div class="inputForm">
                                <label class="email">
                                    <span>Correo Electronico</span>
                                    <input type="email" name="email" required>
                                </label>
                                <label class="password">
                                    <span>Contraseña</span>
                                    <input type="password" name="password" required>
                                </label>                        
                                <% if (locals.errors) { %>
                                    <div class="textDanger">
                                        <p><%= errors.msg %></p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contentRemindMe">
                                <input type="checkbox" name="remindMe" id="remindMe" class="remind">
                                <label for="remindMe" class="remindMe">Recuérdame</label>
                            </div>
                            <button class="buttoncontinuar" type="submit">Continuar</button>
                        </form>
                    <a href="/users/register">¿Aún no tienes cuenta?</a>
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </section>
            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>
    </body>

</html>