<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trueque Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/iconWhite.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5d64a4e77d.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="headerlogin">
        <img class="logoPc" src="/img/logoWhite.png" alt="Logo de Trueque Online">
        <img class="logoPhone" src="/img/iconWhite.png" alt="Logo de Trueque Online">
    </header>
    <main>
        <section id="sectionForm">
            <form class="formlogin">
                <h1>Iniciar sesión</h1>
                <div>
                    <label>Nombre de usuario:</label>
                    <input type="text" name="nombreUsuario">
                </div>
                <div>
                    <label>Contraseña:</label>
                    <input type="password" name="passwordUsuario">
                </div>
                <button class="buttoncontinuar" type="submit">Continuar</button>
                <a href="/register">
                    <h2>Registro</h2>
                </a>
                <a href="#">
                    <h2>¿Has olvidado tu contraseña?</h2>
                </a>
                <div class="volverlogin">
                    <a href="/">Volver</a>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <button class="btnMoreInfo">Más información<i class="fas fa-chevron-up"></i></button>
        <section class="footerContent">
            <article class="contactUs">
                <h4>Contáctenos</h4>
                <ul>
                    <li><a href="#">Redes</a></li>
                    <li><a href="#">Equipo de trabajo</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                </ul>
            </article>
            <article class="legalContent">
                <h4>Politica</h4>
                <ul>
                    <li><a href="#">Contenido legal</a></li>
                    <li><a href="#">Normas de la comunidad</a></li>
                </ul>
            </article>
            <article class="helpContent">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </article>
        </section>
        <h4>Copyright © 1999-2020 TruequeOnline</h4>
    </footer>
</body>

</html>