<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body class="bodylogin">
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>
            <main>
                <section id="sectionForm">
                    <form class="formlogin">
                        <h1>Iniciar sesión</h1>
                        <div>
                            <label>Nombre de usuario:</label>
                            <input type="text" name="nombreUsuario">
                        </div>
                        <div>
                            <label>Contraseña:</label>
                            <input type="password" name="passwordUsuario">
                        </div>
                        <button class="buttoncontinuar" type="submit">Continuar</button>
                        <a href="/register">
                            <h2>Registro</h2>
                        </a>
                        <a href="#">
                            <h2>¿Has olvidado tu contraseña?</h2>
                        </a>
                        <div class="volverlogin">
                            <a href="/">Volver</a>
                        </div>
                    </form>
                </section>
            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>

    </body>

</html>