<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body class="bodylogin">
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>
            <main class="mainLogin">
                <section>
                    <h1>Iniciar sesión</h1>
                    <form class="formLogin" action="/login" method="post">
                        <input type="email" name="emailUsuario" placeholder="Correo electronico" required>
                        <input type="password" name="passwordUsuario" placeholder="Contraseña" required>
                        <div>
                            <input type="checkbox" name="remindMe" id="remindMe" class="remind">
                            <label for="remindMe">Recuerdame</label>
                        </div>
                        <button class="buttoncontinuar" type="submit">Iniciar sesión</button>
                    </form>
                    <a href="/register">¿Aún no tienes cuenta?</a>
                    <a href="#">¿Has olvidado tu contraseña?</a>
                </section>
            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>

    </body>

</html>