<!DOCTYPE html>
<html>
<!-- head -->
<%- include('../partials/head') %>

    <body class="bodyregister">
        <!-- header -->
        <%- include('../partials/partialsUsers/headerUsers') %>
            <main class="mainLogin">
                <section>
                    <h1>Crear cuenta</h1>
                    <form class="formLogin" action="/register" method="post">
                        <div class="contentForm">
                            <input type="text" name="name" placeholder="Nombres" class="inputMed">
                            <input type="text" name="lastName" placeholder="Apellidos" class="inputMed"> 
                        </div>
                        <input type="email" name="email" placeholder="Correo electronico">
                        <div class="contentForm">
                            <input type="password" name="password" placeholder="Contraseña" class="inputMed">
                            <input type="password" name="password" placeholder="Confirmar contraseña" class="inputMed">
                        </div>
                        <div>
                            <input type="checkbox" name="terminos" id="accept" class="remind">
                            <label for="accept">Acepto términos y condiciones</label>   
                        </div>
                        <button type="submit">Crear Usuario</button>
                    </form>
                </section>
            </main>
            <!-- footer -->
            <%- include('../partials/partialsUsers/footerUsers') %>
    </body>

</html>